<footer>
  <small>
    This project is maintained by <a href="https://webtactics.au">Paul Goldsmith</a>.
    Check out the <a href="{{ pkg.repository.url }}">GitHub repo</a>.
  </small>
</footer>

  { {% set js %}
   {% include "assets/js/jquery-3.2.1.min.js" %}
    {% include "assets/js/foundation.6.7.5.min.js" %}
     {% include "assets/js/slick.min.js" %}
    {% include "assets/js/inline.js" %}
   {% endset %}
  <script>{{ js | jsmin | safe }}</script> }
