<head>
  <meta charset="utf-8">
  <meta name="generator" content="{{ eleventy.generator }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>

<meta property="og:title" content="{{ title or metadata.title }}" />
<meta property="og:description" content="{{ description or eleventyComputed.metaDescription or metadata.description }}" />
<meta property="og:image" content="{{ image or eleventyComputed.image or metadata.image }}" />
<meta property="og:url" content="https://www.gtmassage.com.au{{ page.url or post.url }} {{ post.url }}" />

{% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {# Uncomment below if you want to include minified inline JavaScript #}
  {# {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script> #}
</head>
