{% set js %}
   {% include "assets/js/jquery-3.2.1.min.js" %}
    {% include "assets/js/foundation.6.7.5.min.js" %}
     {% include "assets/js/slick.min.js" %}
    {% include "assets/js/inline.js" %}
   {% endset %}
  <script>{{ js | jsmin | safe }}</script> 
