<nav>
{% set navPages = collections.all | eleventyNavigation %}

{% macro renderNavListItem(entry) %}
  {% if entry.children.length %}
    <li>
      <details
        {%- for child in entry.children %}
          {% if child.parent == entry.title and child.url == page.url %}
            class="is-active"
            open
          {% endif %}
        {% endfor %}
      >
        <summary>{{ entry.title }}</summary>
        <ul role="list">
          {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
        </ul>
      </details>
    </li>
  {% else %}
    <li>
      <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
    </li>
  {%- endif -%}
{%- endmacro %}

<ul class="nav-list" role="list">
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>
</nav>





{% set currentUrl = page.url %}

<nav class="11tyrocks">
  <ul role="list">
    <li>
      <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">Home</a>
    </li>

    {% for link in collections.pages %}
    <li>
      <a
        {% if currentUrl === link.url %}aria-current="page"{% endif %}
        href="{{ link.url }}">
          {{ link.data.title }}
      </a>
    </li>
    {%- endfor %}
  </ul>
</nav>