<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

	
<body class=" {{ class }} internal" >

  {% include "components/off-canvas.njk" %}
  
  {% include "components/hero.njk" %}

<div class="container">
   
{% include "components/header.njk" %}

<section role="main" class="content">   
{{ layoutContent | safe }}

</section>


  {% include "components/footer.njk" %}
</div>
  <script src="/bundle.js"></script>


</body>
</html>
