---
layout: layouts/default.njk
section: home
class: home
---


{% include "components/hero-home.njk" %}

{{ layoutContent | safe }}


<section class="white">

<h3 align="center">Our services and massages</h3>
{% set postslist = collections.massages %}
{% include "components/postslist.njk" %}

</section> 
