<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

	
<body class=" {{ class }} internal" >

  {% include "components/off-canvas.njk" %}
  
  {% include "components/hero-home.njk" %}

<div class="container">
   
{% include "components/header.njk" %}

<section role="main" class="content">   
{{ layoutContent | safe }}

{% set postslist = collections.massages %}
{% include "components/postslist.njk" %}

</section>


  {% include "components/footer.njk" %}
</div>



{% include "components/javascript.njk" %}

</body>
</html>
