---
layout: layouts/detail.njk
section: post
---




<article>
<div class="item blogdetail">
<h1 class="heading-text">{{ title }}</h1>


<div class="blogdetailimage" align="center"><img src="{{ image }}/tr:w-1000,h-600" alt="{{ imageAlt }}" title="{{ imageAlt }}"></div>
<div class="detailcontent">     
{{ layoutContent | safe }}</div>
 <div class="NewsSummaryPrice detail"> 
 <h4>Pricing</h4>
{% if post.data.time30 %}30 min: {{ post.data.time30 }} | {% endif %}{% if post.data.time45 %}45 min: {{ post.data.time45 }}{% endif %}<br>
{% if post.data.time60 %}60 min: {{ post.data.time60 }} | {% endif %}{% if post.data.time90 %}90 min: {{ post.data.time90 }}{% endif %}
</div>   


  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}
 
<a class="button blogdetail" href="/booking" class="return-link">Make a booking</a>    
  
<a class="button blogdetail right" href="/massages" class="return-link">Return to the What we do page</a>    
</div>
</article>